body {
    background-color:#FFBC80 ;
    
}

span {

    padding: 5px;
}

h1{
    color: rgb(10, 9, 9);
}
/* .completed{
    color: gray;
    text-decoration: line-through;
} */

*{
    box-sizing: border-box;
}

/* .fa .fa-trash {
    align-items: center;
  justify-content: center;

} */


h2{
    color:darkolivegreen;
}

form{
    padding: 10px, 5px;
    border-radius:10px
}
@keyframes slideDown {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.butn {
    
    padding: 10px;
    background-color: #64748b;
    color: #e122e1;
    border: none;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
}


butn:hover {
    background-color:#E493B3;
}

.item span {
    transition: all 0.3s ease;
    opacity: 1;
    transform: translateY(0);}

.todo-text.completed {
        text-decoration: none;  
        color: gray;  
    }



/* 
butn:hover {
    background-color:#E493B3;
}

.fa-check-square-o.completed {
    color: green;  
}


.green {
    color: green;
}
.fa .fa-edit {
    cursor: pointer;
    margin-left: 10px;
}
*/
   